@import "partials/_mixins.scss";

* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

html { 
  background: url(../img/background-8.webp) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
}

.wrapper {
  @include flex(column, center, center);
  padding-bottom: 50px;
  @media (min-width: 950px) {
    padding-bottom: 0px;
  }

  .heading {
    margin: 0;

    img {
      height: 80px;
      @media (min-width: 490px) {
        height: auto;
      }
    }
  }

  .main {
    @include flex(column, center, center);
    
    h2 {
      font-size: 18px;

      @media (min-width: 490px) {
        font-size: 22px;
      }
    }

    .char-section {
      @include flex(row, space-around, inherit);
      flex-wrap: wrap;
  
      .char-container {
        width: 450px;
        height: 500px;
        margin: 10px;
        
        @include flex(column, space-evenly, center);
  
        .char-img {
          width: 230px;
          height: 230px;
        }

        select {
          -moz-appearance: none;
          -webkit-appearance: none;
          text-align: center;
          @include button-styling;
          margin-bottom: 40px;
        }

        .statBtnContainer button {
          margin: 0 5px 0 5px;
          @include button-styling;
        }

        .infoTextContainer {
          width: 80%;
          height: 68px;
          text-align: center;

          p {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }

    .btnStyling {
      @include button-styling;
    }  
  }
}